<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Sample Category"
            id="ca.rokc.ide4edu.installer.commands.category">
      </category>
      <command
            name="Install New Langugaes"
            categoryId="ca.rokc.ide4edu.installer.commands.category"
            id="ca.rokc.ide4edu.installer.commands.languageInstaller">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="ca.rokc.ide4edu.installer.commands.languageInstaller"
            class="ca.rokc.ide4edu.installer.handlers.InstallerHandler">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="ca.rokc.ide4edu.installer.commands.languageInstaller"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:help?after=additions">
         <command
               commandId="ca.rokc.ide4edu.installer.commands.languageInstaller"
               label="Install New Langugaes..."
               style="push">
         </command>
      </menuContribution>
   </extension>

</plugin>
